<div class="login-container">
  <mat-card class="login-card center-text">
    <mat-card-header>
      <mat-card-title class="brand-heading">Bounty!</mat-card-title>
      <mat-card-title>Login</mat-card-title>
      <mat-card-subtitle>to Bounty sales dashboard.</mat-card-subtitle>
    </mat-card-header>
    <mat-divider inset></mat-divider>
    <mat-card-content>
      <mat-error *ngIf="error">{{ error }}</mat-error>
      <form #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)">
        <mat-form-field appearance="standard">
          <mat-label>Email</mat-label>
          <input
            matInput
            type="email"
            name="email"
            placeholder="user@email.com"
            ngModel
            required
            email
            #email="ngModel"
          />
          <mat-error *ngIf="!email.valid">{{
            getEmailErrorMessage()
          }}</mat-error>
        </mat-form-field>
        <mat-form-field appearance="standard">
          <mat-label>Password</mat-label>
          <input
            matInput
            [type]="hide ? 'password' : 'text'"
            name="password"
            ngModel
            minlength="8"
            placeholder="super secret password"
            required
            #password="ngModel"
          />
          <button
            mat-icon-button
            matSuffix
            type="button"
            (click)="hide = !hide"
            [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide"
          >
            <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
          </button>
          <mat-error *ngIf="!password.valid">{{
            getPasswordErrorMessage()
          }}</mat-error>
          <mat-hint align="end">Minimum 8 characters</mat-hint>
        </mat-form-field>
        <div style="padding: 1rem 0;">
          <button
            class="login-button"
            mat-flat-button
            color="primary"
            type="submit"
            [disabled]="!loginForm.valid"
          >
            Login
          </button>
        </div>
      </form>
      <p>
        <a href="#">Forgot Password?</a>
      </p>
      <p>Don't have an account? <a [routerLink]="'/signup'">Sign Up</a></p>
    </mat-card-content>
    <mat-card-footer>
      <mat-progress-bar
        *ngIf="isLoading"
        mode="indeterminate"
      ></mat-progress-bar>
    </mat-card-footer>
  </mat-card>
</div>
