<div class="mat-elevation-z8 small-table">
  <div class="filter">
    <mat-form-field appearance="fill">
      <mat-label>Filter</mat-label>
      <input
        matInput
        (keyup)="onApplyFilter($event)"
        placeholder="Search Names"
        #input
      />
    </mat-form-field>
  </div>
  <table mat-table class="full-width-table" matSort aria-label="Elements">
    <!-- Id Column -->
    <ng-container matColumnDef="user_id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Id</th>
      <td mat-cell *matCellDef="let row">{{ row.user_id }}</td>
    </ng-container>

    <!-- First Name Column -->
    <ng-container matColumnDef="firstname">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>First Name</th>
      <td mat-cell *matCellDef="let row">
        {{ row.name.firstname }}
      </td>
    </ng-container>

    <!-- Last Name Column -->
    <ng-container matColumnDef="lastname">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Last Name</th>
      <td mat-cell *matCellDef="let row">
        {{ row.name.lastname }}
      </td>
    </ng-container>

    <!-- Email Column -->
    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Email</th>
      <td mat-cell *matCellDef="let row">{{ row.email }}</td>
    </ng-container>

    <!-- Role Column -->
    <ng-container matColumnDef="role">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Role</th>
      <td mat-cell *matCellDef="let row">
        <mat-chip-list>
          <mat-chip
            color="{{
              row.role == 'curator'
                ? 'primary'
                : row.role == 'sales'
                ? 'accent'
                : 'warn'
            }}"
            selected
          >
            {{ row.role }}
          </mat-chip>
        </mat-chip-list>
      </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>Actions</th>
      <td mat-cell *matCellDef="let row">
        <div class="action-cell">
          <button
            (click)="onToggleRole(row.user_id)"
            mat-flat-button
            style="background-color: yellow"
          >
            Toggle Role
          </button>
        </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>

  <mat-paginator
    #paginator
    [length]="dataLength"
    [pageIndex]="0"
    [pageSize]="10"
    [pageSizeOptions]="[10, 20]"
  >
  </mat-paginator>
</div>
